/*.browse-panel {
    background: #fff;
    margin-bottom: 2em;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}*/

#browse-profile {
    /*min-height: 500px;*/
}

#browse-ribbon {
    border-left: 1px solid #DDD;
    min-height: 500px;
    margin-left: 0;
    width: 160px;
}
