html, body {
    height: 100%;
}

.sidebar {
    padding: 9px 0;
    position:fixed;
    left: 0;
    top: 40px;
    width:200px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,.1);
    background-color: #f9f9f9;
}

.sidebar + div {
    margin-left: 200px;
    overflow:hidden;
}

.fill {
    /*min-height: 100%;*/
    position: relative;
}

.filler:after{
    background-color:inherit;
    bottom: 0;
    content: "";
    height: auto;
    min-height: 100%;
    left: 0;
    margin:inherit;
    right: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;
}

.container {
    width: 940px;
}


.navbar-inner {
    /*background: url('../img/nav_bg.png') #222;*/
    /*min-height: 50px;*/
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAYAAAByfjF8AAAAPElEQVQIW22N2w0AIAjEGtZzDldzzfqDxNcPges10PowAAIhtxrik2VPwjsrYztXGTmMzfUFn8z6yxcknbUXHI7LdQpIAAAAAElFTkSuQmCC');
    background-repeat: repeat-x;
    background-size: auto;
    background-position: 0 0;
    background-color: #4c66a4;
    border: 0;
    -webkit-box-shadow: none;
    /*position: relative;*/
}

.navbar .brand {
    /*padding: 0;*/
    text-shadow: none;
    /*margin-top: -7px;*/
    /*margin-left: 0;*/
    color: #fff;
}

.navbar .nav > li > a {
    text-shadow: none;
    color: #fff;
}

.navbar .nav > li > a:hover {
    color: #fff;
    text-decoration: underline;
}

.navbar .btn, .navbar .btn-group {
    margin-top: 0;
}

.container-fluid {
    padding: 0;
}
#main #container {
    padding-top: 2em;
}

/*
http://stackoverflow.com/questions/9350818/fixed-sidebar-navigation-in-fluid-twitter-bootstrap-2-0
*/
.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left: 0;
    top: 40px;
    width:200px;
    height: 100%;
}
.well {
    border-radius: 0;
}

/*.nav li:first-child {*/
    /*background: #405791;*/
    /*content: '';*/
    /*height: 17px;*/
    /*left: 1px;*/
    /*position: absolute;*/
    /*top: 2px;*/
    /*width: 1px;*/
    /*border-right: 1px solid #405791;*/
/*}*/
.row-fluid > .span-fixed-sidebar {
    margin-left: 290px;
}

/*#main #sidebar {
    height: 100%;
    outline: none;
    *//*overflow-x: hidden;*//*
    *//*overflow-y: auto;*//*
    position: relative;
    background: #31353e;
    *//*position: fixed !important;*//*

    *//*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAABCAYAAADjAO9DAAAAG0lEQVQIHWNkgAAWIMUOxDxAzA/EwkAsDsRSAAQAAGyA+/CLAAAAAElFTkSuQmCC);*//*
    background-repeat: repeat-y;
    background-size: auto;
    background-position: 0 0;
    *//*width: 150%;*//*
}*/

#footer {
    background: #f9f9f7;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #dbdcde;
    width: 100%;
    padding: 10px 0 10px;
    line-height: 0;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.btn.signup {
    margin-left: 10px;
}
