.auth-content {
    margin: 60px 0;
    text-align: center;
}
.auth-content h1 {
    line-height: 1;
    margin-bottom: 30px;
}
.auth-content .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.auth-content .intermission {
    background: url(../img/rule_split_589x4.png) no-repeat center center;
    color: #888;
    font-family: 'Georgia';
    font-size: 18px;
    text-align: center;
    margin: 0 0 30px;
}

.auth-content h2, .auth-content h3 {
    font-size: 100%;
    font-weight: normal;
}

.auth-content .footer {
    background: url(../img/rule_589x4.png) no-repeat top center;
    margin-top: 30px;
    padding: 30px 0;
    text-align: center;
}


.auth-content .signup-btn.fb, .auth-content .signup-btn.vk {
    background: #415ea3;
    background: -webkit-gradient(linear, left top, left bottom, from(#415ea3), to(#2e4a88));
    background: -moz-linear-gradient(top, #415ea3, #2e4a88);
    background: -o-linear-gradient(top, #415ea3, #2e4a88);
    background: -webkit-linear-gradient(top, #415ea3, #2e4a88);
    background: linear-gradient(top, #415ea3, #2e4a88);
    border: 1px solid #09164a;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#415ea3', endColorstr='#2f4a89');
    text-shadow: 0 -1px #28417a;
}

.auth-content .signup-btn {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    box-shadow: inset 0 1px rgba(255, 255, 255, .5), 0 2px #fff;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    min-width: 160px;
    padding: 20px 10px 20px 87px;
    position: relative;
    text-align: left;
}

.auth-content .signup-btn .logo {
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 62px;
}

.auth-content .signup-btn.fb .logo {
    background-color: #5f75a9;
    background-color: rgba(255, 255, 255, .2);
    background-image: url(../img/logo_fb_31x42.png);
}

.auth-content .signup-btn.vk .logo {
    background-color: #5f75a9;
    background-color: rgba(255, 255, 255, .2);
    background-image: url(../img/logo_vk_16x32.png);
}


.auth-content .login-btn {
    display: block;
    min-width: 200px;
    height: 37px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

.auth-content .login-btn.fb, .auth-content .login-btn.vk {
    background: #3b5998;
    background: -moz-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b5998), color-stop(50%, #3b5998), color-stop(50%, #325190), color-stop(100%, #325190));
    background: -webkit-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);
    background: -o-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);
    background: -ms-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b5998', endColorstr='#325190',GradientType=0 );
    background: linear-gradient(top, #3b5998 0%,#3b5998 50%,#325190 50%,#325190 100%);
    box-shadow: 0 3px 0 #213b6d;
    -moz-box-shadow: 0 3px 0 #213b6d;
    -webkit-box-shadow: 0 3px 0 #213b6d;
}

.auth-content .login-btn.vk {
    margin-left: 10px;
}


.auth-content .login-btn .logo_wrapper {
    float: left;
    margin-top: 5px;
    padding: 3px 6px 0 12px;
    border-right: 1px solid #2f4f85;
}

.auth-content .login-btn>span {
    float: left;
    min-height: 20px;
    margin-top: 7px;
    padding: 3px 12px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-left: 1px solid #627ba8;
}

.auth-content .login-btn .logo {
    float: left;
    width: 16px;
    height: 23px;
}

.auth-content .login-btn.fb .logo {
    background: url("../img/logo_fb_16x32.png");
    height: 27px;
}

.auth-content .login-btn.vk .logo {
    background: url("../img/logo_vk_16x32.png");
}


.global_error {
    background: #f3e9e9;
    border: 1px solid #f2d0d1;
    color: #221919;
    font-size: 13px;
    margin: 15px 0 30px 0;
    padding: 13px;
}