{% extends "base.html" %}

{% block nav %}
    <ul class="nav pull-right">
        <li><a href="#">Hi, {{ g.user.username }}</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="main" class="container-fluid fill">
        <div class="row-fluid">
            <div class="sidebar">
            </div>
            <div class="filler">
                <div class="container" id="container"></div>
            </div>
        </div>
    </div>
{% endblock %}