<html>
<head>
<link rel="S" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
<title>{% block title %}{{ config.PROJECT }}{% endblock %}</title>
{% block css %}
{% assets "css-all" %}<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />{% endassets %}
{% endblock %}
{% block head_js %}
<script type="text/javascript">
    //<![CDATA[
    window.ServerExports = {{server_exports|tojson|safe}};
    //]]>
</script>
{% endblock %}
</head>
<body>


<div class="navbar navbar-static-top" id="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a href="#" class="brand">{{ config.PROJECT }}</a>
            {% block nav %}{% endblock %}
        </div>
    </div>
</div>

{% block content %}{% endblock %}
<div id="modal"></div>

{% block script %}
{% assets "js-vendor" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% assets "js-templates" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{% assets "js-app" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

<script type="text/javascript">
    $(document).ready(function() {
        App.start();
    });
</script>
{% endblock %}
</body>
</html>