{% extends "base.html" %}

{% block nav %}
    <ul class="nav pull-right">
        <li><a href="#signup">Join S</a></li>
        <li><a href="#signin">Log In</a></li>
        {% if config.DEBUG %}
            <li><a href="{{ url_for('auth.dev') }}">Dev Log In</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div id="main" class="main" role="main">
        <div id="container" class="container">
        </div>
    </div>
{% endblock %}
